nvim/.config/nvim/bundle
nvim/.config/nvim/tags
nvim/.config/nvim/undo
nvim/.config/nvim/.netrwhist
i3/.config/i3/local
ranger/bookmarks
ranger/history
ranger/tagged
ranger/colorschemes/__init__.py
ranger/colorschemes/__pycache__
*.pyo
