*.pyo
i3/.config/i3/local
jj/.config/jj/conf.d/
jj/.config/jj/repos
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/bundle
nvim/.config/nvim/review
nvim/.config/nvim/tags
nvim/.config/nvim/undo
polybar/.config/polybar/city
polybar/.config/polybar/mail.json
polybar/.config/polybar/motd.sh
polybar/.config/polybar/weather.json
ranger/.config/ranger/bookmarks
ranger/.config/ranger/colorschemes/__init__.py
ranger/.config/ranger/colorschemes/__pycache__
ranger/.config/ranger/history
ranger/.config/ranger/tagged
tmux/.tmux/plugins
fish/.config/fish/local.fish
