[user]
name = "Dominykas Djacenko"
email = "chaosteil@gmail.com"

[colors]
"diff removed token" = { underline = false }
"diff added token" = { underline = false }

[ui]
pager = "delta"
diff-formatter = ":git"
diff-editor = ":builtin"
default-command = ["st"]

[signing]
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"

[git]
sign-on-push = true
subprocess = true
private-commits = "description(glob:'private:*')"

[templates]
git_push_bookmark = '"chaosteil/" ++ change_id.short()'

[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[revset-aliases]
"immutable_heads()" = "builtin_immutable_heads() | (bookmarks(glob:'chaosteil/*'))"

[aliases]
# Get the latest bookmark
bm = [
  "log",
  "-r",
  "::@- & bookmarks()",
  "-n",
  "1",
  "-G",
  "--template",
  "bookmarks",
]
# Tug the latest bookmark to the working copy
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
# Tug and checkout the latest bookmark
tugg = ["util", "exec", "--", "bash", "-c", """
  set -euo pipefail
  jj tug
  bookmark=$(jj bm)
  git checkout "$bookmark"
""", ""]
# Create a new bookmark and checkout the corresponding git branch while setting
# upstream
branch-prepare = ["util", "exec", "--", "bash", "-c", """
  set -euo pipefail
  branch="$USER/$1"
  echo "$branch"

  jj new
  jj bookmark create "$branch" -r @-
  git branch "$branch" --set-upstream-to=${2:-main}
  git checkout "$branch"
  """, ""]
# List my bookmarks
mine = ["bookmark", "list", "-r", "mine()"]
