# Documentation: https://nikitabobko.github.io/AeroSpace/guide

# Login/Startup
after-login-command = []
after-startup-command = [
  'exec-and-forget borders active_color=0xfff9005a inactive_color=0x8875715e width=5.0',
]
start-at-login = true

# Normalizations
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# Padding
accordion-padding = 30

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = false

[workspace-to-monitor-force-assignment]
browser = 'secondary'
secondary = 'secondary'
secondary-extra = 'secondary'

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 0
outer.bottom = 0
outer.top = 0
outer.right = 0

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands
# 'main' mode binding declarations
[mode.main.binding]
alt-enter = '''exec-and-forget osascript -e '
tell application "Ghostty"
	if it is running then
		activate
		tell application "System Events" to keystroke "n" using {command down}
	else
		activate
	end if
end tell
' '''

alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

# Focus
alt-h = 'focus --boundaries all-monitors-outer-frame left'
alt-j = 'focus --boundaries all-monitors-outer-frame down'
alt-k = 'focus --boundaries all-monitors-outer-frame up'
alt-l = 'focus --boundaries all-monitors-outer-frame right'

# Window movement
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# Monitor movement
alt-ctrl-shift-h = 'move-node-to-monitor --wrap-around left'
alt-ctrl-shift-j = 'move-node-to-monitor --wrap-around down'
alt-ctrl-shift-k = 'move-node-to-monitor --wrap-around up'
alt-ctrl-shift-l = 'move-node-to-monitor --wrap-around right'

# i3-like float
alt-shift-space = 'layout floating tiling'
# Fullscreen
alt-shift-f = 'fullscreen'

# Resize
alt-minus = 'resize smart -50'
alt-equal = 'resize smart +50'
alt-shift-minus = 'resize smart -200'
alt-shift-equal = 'resize smart +200'

# Workspaces
alt-1 = 'workspace code'
alt-2 = 'workspace browser'
alt-3 = 'workspace social'
alt-4 = 'workspace tasks'
alt-5 = 'workspace notes'
alt-6 = 'workspace music'
alt-7 = 'workspace misc'
alt-8 = 'workspace games'
alt-9 = 'workspace secondary'
alt-0 = 'workspace secondary-misc'

# Move to Workspaces
alt-shift-1 = 'move-node-to-workspace code'
alt-shift-2 = 'move-node-to-workspace browser'
alt-shift-3 = 'move-node-to-workspace social'
alt-shift-4 = 'move-node-to-workspace tasks'
alt-shift-5 = 'move-node-to-workspace notes'
alt-shift-6 = 'move-node-to-workspace music'
alt-shift-7 = 'move-node-to-workspace misc'
alt-shift-8 = 'move-node-to-workspace games'
alt-shift-9 = 'move-node-to-workspace secondary'
alt-shift-0 = 'move-node-to-workspace secondary-misc'

# Moving around workspaces
alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
alt-shift-semicolon = 'mode service'

# 'service' binding mode declaration.
[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main']                # reset layout
backspace = ['close-all-windows-but-current', 'mode main']

h = ['focus-monitor --wrap-around left', 'mode main']
j = ['focus-monitor --wrap-around down', 'mode main']
k = ['focus-monitor --wrap-around up', 'mode main']
l = ['focus-monitor --wrap-around right', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

down = 'volume down'
up = 'volume up'
shift-down = ['volume set 0', 'mode main']

# Code

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
if.during-aerospace-startup = true
run = 'move-node-to-workspace code'

# Browser

[[on-window-detected]]
if.app-id = 'com.google.Chrome'
run = 'move-node-to-workspace browser'

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
run = 'move-node-to-workspace browser'

[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
run = 'move-node-to-workspace browser'

# Social

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace social'

[[on-window-detected]]
if.app-id = 'com.facebook.archon'
run = 'move-node-to-workspace social'

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = 'move-node-to-workspace social'

[[on-window-detected]]
if.app-id = 'us.zoom.xos'
run = 'move-node-to-workspace social'

[[on-window-detected]]
if.app-id = 'com.slack.Slack'
run = 'move-node-to-workspace social'

# Tasks

[[on-window-detected]]
if.app-id = 'com.todoist.mac.Todoist'
run = 'move-node-to-workspace tasks'

[[on-window-detected]]
if.app-id = 'com.cron.electron'
if.during-aerospace-startup = true
run = 'move-node-to-workspace tasks'

# Notes

[[on-window-detected]]
if.app-id = 'notion.id'
if.during-aerospace-startup = true
run = 'move-node-to-workspace notes'

# Music

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace music'

# Games

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam'
run = 'move-node-to-workspace games'

# In-Development Games
[[on-window-detected]]
if.window-title-regex-substring = '(\- bevy)$'
run = ['layout floating']
